body{
    font-family:font-family: 'Open Sans', sans-serif;
    background-color:#4f4558;
    margin:0;
    
    padding:120px;
}

.main-block{
    position:relative;
    margin:0 auto;
    width:100%;
    max-width:650px;
    padding:80px 60px;
    border-radius:5px;
    line-height:1.3;
    background-color: white; 
    box-sizing:border-box;
    text-align: center;
    color:#4f4558;
}

.my-image{
    position:absolute;
    left:40%;
    top:-60px;
    height:120px;
    width:120px;
    border-radius: 50%;
    background: url(../images/shafi.jpg);
    background-size: cover;
}

ul{
    list-style:none;
}

.name-header{
    font-weight:750;
    font-size: 40px;
    line-height: 1.3;
    margin:10px 0 10px;
    font-family: 'Anton', sans-serif;
}

.sub-header{
    font-size:30px;
    font-weight: 500;
    line-height: 1.3;
    margin:10px 0 10px;
    font-family: 'Anton', sans-serif;
}

.info-header{
    font-family: 'Baloo Paaji', cursive;
    font-size: 25px;
    font-weight: 600
}

.list-info{
    font-size: :14px;
    margin: 0;
}

.social{
    top-margin:20px; 
}



.social-image{
   width:40px;
    height:40px;
    margin-right: 15px;
    display:inline-block;
    -webkit-transition: -webkit-transform .4s ease-in;
    transition: transform .4s ease-in;
}

.social-image:hover{
    webkit-transform: scale(1.3);
    transform: scale(1.3);}

.social-image img{
   width:100%;
}